@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i');

body {
  margin: 0;
  background-color: #fff;
}

header {
  height: 646px;
  background: /* top, transparent black */
  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), /* bottom, image */
  url(images/hero.jpg);
  background-size: cover;
}

header {
  background-color: #4c666a;
  border-bottom: 1px solid #4c666a;
}

header h1 {
  text-align: center;
  color: #fff;
  font-family: Futura;
  font-size: 68px;
  text-transform: uppercase;
  margin-top: 0px;            /* WHAT DOES THIS DO */
  margin-bottom: 40px;        /* WHAT DOES THIS DO */
header h2 {
  text-align: center;
  color: #fff;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 24px;
  padding-top: 270px;         /* WHAT DOES THIS DO */
  margin: 0px;                /* WHAT DOES THIS DO */
}

header p {
  text-align: center;
}

header p a {
  color: #fff;
  font-family: arial;
  background-color: #36b3a8;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;         /* WHAT DOES THIS DO */
  border-radius: 20px;        /* WHAT DOES THIS DO */
}
